extends layout

block content
    .container.mt-5.mb-5
        .row
            .col-md-12.text-center
                img(src="/img/404.png")
            .col-md-12.text-center
                a.btn.btn-primary(href="/") Go To Home Page